<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mx.com.nails_room.dao.CuentaUsuarioDAO">

	<resultMap id="usuarioResultMap" type="usuarioDTO">
		<result property="usuarioId" column="cl_usuario" />		
		<result property="nombre" column="nombre" />
		<result property="ap_paterno" column="ap_paterno" />
		<result property="ap_materno" column="ap_materno" />
		<result property="email" column="email" />		
		<result property="contrasenia" column="password" />
		<result property="fechaAlta" column="fecha_registro" />		
		<result property="esAdmin" column="fg_admin" />
		<result property="activo" column="fg_activo" />		
		<result property="puestoDTO.puestoId" column="cl_puesto" />
		<result property="puestoDTO.descripcion" column="descripcion_puesto" />	
		<result property="comision" column="comision" />	
			
	</resultMap>
	
	<resultMap id="resultMapPuesto" type="puestoDTO">
		<result property="puestoId" column="cl_puesto" />		
		<result property="descripcion" column="ds_descripcion" />
		<result property="activo" column="fg_estado" />		
	</resultMap>

	<select id="findByIdUser" resultMap="usuarioResultMap" parameterType="java.lang.Long">
		SELECT u.*, p.cl_puesto AS puestoId, p.ds_descripcion AS descripcion_puesto
		FROM c_usuario u
		INNER JOIN c_puesto p ON (u.cl_puesto = p.cl_puesto)		
		WHERE cl_usuario = #{id}
	</select>
	
	<select id="validar" resultMap="usuarioResultMap" parameterType="usuarioDTO">
		SELECT u.*, p.cl_puesto,p.ds_descripcion AS descripcion_puesto
		FROM c_usuario u
		INNER JOIN c_puesto p ON (u.cl_puesto = p.cl_puesto)	
		WHERE u.email = #{email} AND u.password = #{contrasenia} 
		AND u.fg_activo = '1'
	</select>

	<insert id="insertarUsuario" parameterType="usuarioDTO">
		INSERT INTO c_usuario
		(cl_puesto,nombre,ap_paterno,ap_materno,email,password,comision)
		VALUES		
		(#{puestoDTO.puestoId},#{nombre},#{ap_paterno},#{ap_materno},#{email},#{contrasenia},#{comision})
	</insert>
	<update id="editarUsuario" parameterType="usuarioDTO">
		UPDATE c_usuario 
		<set>		
			<if test="puestoDTO != null and puestoDTO.puestoId != null and puestoDTO.puestoId != '' ">
				cl_puesto = #{puestoDTO.puestoId},
			</if>
			<if test="nombre != null and nombre != '' ">
				nombre = #{nombre},
			</if>
			<if test="ap_paterno != null and ap_paterno != '' ">
				ap_paterno = #{ap_paterno},
			</if>
			<if test="ap_materno != null and ap_materno != '' ">
				ap_materno = #{ap_materno},
			</if>
			<if test="email != null and email != '' ">
				email =	#{email},
			</if>
			<if test="contrasenia != null and contrasenia != '' ">
				password = #{contrasenia},	
			</if>	
			<if test="comision != null and comision != '' ">
				comision = #{comision},	
			</if>	
			<if test="activo != null and activo != '' ">
				fg_activo = #{activo}	
			</if>
		</set>		
		WHERE cl_usuario = #{usuarioId}
	</update>
	<delete id="deleteUser" parameterType="usuarioDTO">
		UPDATE c_usuario SET fg_activo = '0' WHERE cl_usuario = #{userId}
	</delete>
	
	<select id="getAccount" parameterType="java.lang.String" resultMap="usuarioResultMap">
		SELECT * FROM c_usuario WHERE email = #{email}
	</select>
	
	<select id="obtenerPuestos" resultMap="resultMapPuesto">
		SELECT * FROM c_puesto WHERE fg_estado = '1' ORDER BY ds_descripcion
	</select>
	
	<select id="obtenerUsuariosPorFiltro" parameterType="filtroUsuario" resultMap="usuarioResultMap">
		SELECT u.*, p.cl_puesto AS puestoId, p.ds_descripcion AS descripcion_puesto
		FROM c_usuario u
		INNER JOIN c_puesto p ON (u.cl_puesto = p.cl_puesto)	
		WHERE u.fg_activo = '1'
		<if test="nombreFiltro != null and nombreFiltro != '' ">
			AND u.nombre LIKE CONCAT('%',#{nombreFiltro},'%')
		</if>
		<if test="apPaternoFiltro != null and apPaternoFiltro != '' ">
			AND u.ap_paterno LIKE CONCAT('%',#{apPaternoFiltro},'%')
		</if>
		<if test="apMaternoFiltro != null and apMaternoFiltro != '' ">
			AND u.ap_materno LIKE CONCAT('%',#{apMaternoFiltro},'%')
		</if>
		<if test="emailFiltro != null and emailFiltro != '' ">
			AND u.email LIKE CONCAT('%',#{emailFiltro},'%')
		</if>
		<if test="puestoIdFiltro != null and puestoIdFiltro != 0 ">
			AND u.cl_puesto = #{puestoIdFiltro}
		</if>			
		ORDER BY nombre
	</select>
	
	<select id="obtenerTodosUsuarios" resultMap="usuarioResultMap">
		SELECT u.*, p.cl_puesto AS puestoId, p.ds_descripcion AS descripcion_puesto
		FROM c_usuario u
		INNER JOIN c_puesto p ON (u.cl_puesto = p.cl_puesto)	
		WHERE u.fg_activo = '1'
		ORDER BY u.nombre
	</select>
	
	
</mapper>