<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>

		<setting name="logImpl" value="LOG4J" />

	</settings>
	<typeAliases>
		<!-- Declaracion de los bean de tipos de datos de entrada y del manejador. -->		
		<typeAlias alias="cajaDTO"   type="mx.com.nails_room.model.CajaDTO" />	
		<typeAlias alias="detalleCajaDTO"   type="mx.com.nails_room.model.DetalleCajaDTO" />		
		<typeAlias alias="estadoVentaDTO"   type="mx.com.nails_room.model.EstadoVentaDTO" />
		<typeAlias alias="estadoCitaDTO"   type="mx.com.nails_room.model.EstadoCitaDTO" />				
		<typeAlias alias="estacionTrabajoDTO"   type="mx.com.nails_room.model.EstacionTrabajoDTO" />
		<typeAlias alias="ventaDTO"   type="mx.com.nails_room.model.VentaDTO" />	
		<typeAlias alias="detalleVentaDTO"   type="mx.com.nails_room.model.DetalleVentaDTO" />	
		<typeAlias alias="articuloDTO"   type="mx.com.nails_room.model.ArticuloDTO" />	
		<typeAlias alias="puestoDTO"   type="mx.com.nails_room.model.PuestoDTO" />	
		<typeAlias alias="usuarioDTO"   type="mx.com.nails_room.model.UsuarioDTO" />	
		<typeAlias alias="clienteDTO"   type="mx.com.nails_room.model.ClienteDTO" />
		<typeAlias alias="citaDTO"   type="mx.com.nails_room.model.CitasDTO" />	
		<typeAlias alias="datosGeneralesPersonaDTO"   type="mx.com.nails_room.model.DatosGeneralesPersonaDTO" />		
		<typeAlias alias="filtroUsuario"   type="mx.com.nails_room.forms.FiltroUsuario" />		
		<typeAlias alias="filtroArticulo"   type="mx.com.nails_room.forms.FiltroArticulo" />	
		<typeAlias alias="filtroVentas"   type="mx.com.nails_room.forms.FiltroVentas" />
		<typeAlias alias="filtroCitas"   type="mx.com.nails_room.forms.FiltroCitas" />		
		<typeAlias alias="filtroCaja"   type="mx.com.nails_room.forms.FiltroCaja" />		
			

	</typeAliases>
	

</configuration>